# Server configuration
PORT=3001

# Client URL
CLIENT_URL= # backend url

# JWT secret (if using JWT for authentication)
JWT_SECRET=jwt_secret

# Other configuration settings

# Firebase configuration
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
FIREBASE_DATABASE_URL=

# Example: Email server settings
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=
